@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  font-family: "Roboto", sans-serif;
}

dl {
  position: relative;
  margin-block-start: 0px;
  margin-block-end: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.05em;
}
dt {
  position: absolute;
  top: 80px;
  left: 15px;
  width: 88%;
  margin-bottom: auto;
}

dd {
  position: absolute;
  margin: 0;
  width: 78%;
  right: 8px;
  bottom: 50px;
  text-align: right;
}

hr {
  margin: 2% 10%;
}

a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

a:visited {
  color: black;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

#layoutDesignList {
  margin: 0;
}

.layout-item {
  position: relative;
  box-sizing: border-box;
  margin: 15px 8px;
  padding: 0px;
  background-color: white;
  margin-bottom: 15px;
  border-width: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  width: 200px;
  height: 300px;
  transition: 0.8s;
  font-size: 100%;
}
.layout-item:hover {
  background-color: cornflowerblue;
  font-weight: 900;
  /* width: 320px; */
  font-size: 110%;
}

.layout-item::before {
  background-color: black;
  width: 100%;
}

.layout-item > dd {
  margin-top: 10px;
}

@media (max-width: 600px) {
  .layout-item {
    margin: 0px auto;
    width: 85%;
  }
  .layout-item:hover {
    width: 95%;
  }
}
